.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.vibrant {
  font-size: 40px;
  font-weight: bold;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  color: chartreuse;
}